build*
qbuild*
bin/Makefile
*~
CMakeLists.txt.user*
*.kdev4
*.swp
.swp.*
*.log
core
.DS_Store
*.kateproject*
Makefile.Debug
Makefile.Release
object_script.CrochetCharts.Debug
object_script.CrochetCharts.Release

# "build*" above is meant for build directories, not CI workflow files
!.github/workflows/*.yml